<a href="https://colab.research.google.com/github/sankari3153/test/blob/main/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
class Person:
  def _init_(self, name, age):
    self.name = name
    self.age = age
    p1 = Person("John", 36)
    print(p1.name)
    print(p1.age)

In [6]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
if x == "banana":
  break

apple
banana
cherry

SyntaxError: 'break' outside loop (<ipython-input-6-3200ee2a554a>, line 5)

In [7]:
def my_function(fname):
  print(fname + " Refsnes")
my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [14]:
def my_function():
  print("Hello from a function")
my_function()

Hello from a function

In [16]:
 i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [17]:
x = lambda a : a + 10
print(x(5))

15

In [18]:


def calculateBill(units):








    if (units <= 100):



        return units * 10;



    elif (units <= 200):



        return ((100 * 10) +

                (units - 100) * 15);



    elif (units <= 300):



        return ((100 * 10) +

                (100 * 15) +

                (units - 200) * 20);



    elif (units > 300):



        return ((100 * 10) +

                (100 * 15) +

                (100 * 20) +

                (units - 300) * 25);



    return 0;



units = 250;

print(calculateBill(units));

3500