<a href="https://colab.research.google.com/github/sankari3153/test/blob/main/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
class Person:
  def _init_(self, name, age):
    self.name = name
    self.age = age
    p1 = Person("John", 36)
    print(p1.name)
    print(p1.age)

In [6]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
if x == "banana":
  break

apple
banana
cherry

SyntaxError: 'break' outside loop (<ipython-input-6-3200ee2a554a>, line 5)

In [7]:
def my_function(fname):
  print(fname + " Refsnes")
my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [14]:
def my_function():
  print("Hello from a function")
my_function()

Hello from a function

In [16]:
 i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [17]:
x = lambda a : a + 10
print(x(5))

15

In [18]:


def calculateBill(units):








    if (units <= 100):



        return units * 10;



    elif (units <= 200):



        return ((100 * 10) +

                (units - 100) * 15);



    elif (units <= 300):



        return ((100 * 10) +

                (100 * 15) +

                (units - 200) * 20);



    elif (units > 300):



        return ((100 * 10) +

                (100 * 15) +

                (100 * 20) +

                (units - 300) * 25);



    return 0;



units = 250;

print(calculateBill(units));

3500

In [20]:
values : tuple[int | str, ...] = (1,2,4,"Geek")
print(values)

(1, 2, 4, 'Geek')

In [21]:
mytuple = ("Geeks",)
print(type(mytuple))

#NOT a tuple
mytuple = ("Geeks")
print(type(mytuple))

<class 'tuple'>
<class 'str'>

In [22]:
tuple_constructor = tuple(("dsa", "developement", "deep learning"))
print(tuple_constructor)

('dsa', 'developement', 'deep learning')

In [25]:
mytuple = (1, 2, 3, 4, 5)

# tuples are indexed
print(mytuple[1])
print(mytuple[4])

2
5

In [26]:
# Code for creating nested tuples
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'geek')

tuple3 = (tuple1, tuple2)
print(tuple3)

((0, 1, 2, 3), ('python', 'geek'))

In [27]:
# Python3 code to demonstrate working of
# Concatenating tuples to nested tuples
# using + operator + ", " operator during initialization

# initialize tuples
test_tup1 = (3, 4),
test_tup2 = (5, 6),

print("The original tuple 1 : " + str(test_tup1))
print("The original tuple 2 : " + str(test_tup2))

res = test_tup1 + test_tup2


print("Tuples after Concatenating : " + str(res))

The original tuple 1 : ((3, 4),)
The original tuple 2 : ((5, 6),)
Tuples after Concatenating : ((3, 4), (5, 6))

In [28]:
# Python3 code to demonstrate working of
# Unpacking nested tuples
# using generator expressions

# initialize list
test_list = [(4, (5, 'Gfg')), (7, (8, 6))]

# printing original list
print("The original list is : " + str(test_list))

# Unpacking nested tuples
# using generator expressions
res = ((x, y, z) for x, (y, z) in test_list)

# printing result
print("The unpacked nested tuple list is : " + str(list(res)))

The original list is : [(4, (5, 'Gfg')), (7, (8, 6))]
The unpacked nested tuple list is : [(4, 5, 'Gfg'), (7, 8, 6)]

In [29]:
# Python3 code to demonstrate working of
# Unpacking Integer Keys in Strings
# Using format() + * operator + values()

# initializing string
test_str = "First value is {} Second is {} Third {}"

# printing original string
print("The original string is : " + str(test_str))

# initializing dictionary
test_dict = {3 : "Gfg", 4 : "is", 9 : "Best"}

# using format() for mapping required values
res = test_str.format(*test_dict.values())

# printing result
print("String after unpacking dictionary : " + str(res))

The original string is : First value is {} Second is {} Third {}
String after unpacking dictionary : First value is Gfg Second is is Third Best

In [30]:
# Python3 code to demonstrate working of
# Cross Tuple AND operation
# using map() + lambda

# initialize tuples
test_tup1 = (10, 4, 5)
test_tup2 = (2, 5, 18)

# printing original tuples
print("The original tuple 1 : " + str(test_tup1))
print("The original tuple 2 : " + str(test_tup2))

# Cross Tuple AND operation
# using map() + lambda
res = tuple(map(lambda i, j: i & j, test_tup1, test_tup2))

# printing result
print("Resultant tuple after AND operation : " + str(res))

The original tuple 1 : (10, 4, 5)
The original tuple 2 : (2, 5, 18)
Resultant tuple after AND operation : (2, 4, 0)

In [31]:
def summation(test_tup):

	# Converting into list
	test = list(test_tup)

	# Initializing count
	count = 0

	# for loop
	for i in test:
		count += i
	return count


# Initializing test_tup
test_tup = (5, 20, 3, 7, 6, 8)
print(summation(test_tup))

49

In [32]:
# Python program to illustrate
# Finding common member in list
# without using 'in' operator

# Define a function() that takes two lists


def overlapping(list1, list2):

	c = 0
	d = 0
	for i in list1:
		c += 1
	for i in list2:
		d += 1
	for i in range(0, c):
		for j in range(0, d):
			if(list1[i] == list2[j]):
				return 1
	return 0


list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9]
if(overlapping(list1, list2)):
	print("overlapping")
else:
	print("not overlapping")

not overlapping

In [35]:
# create a list of tuples with student
# details
name = [('s.ravan',7058,98.45),
		('o.jaswi',7059,90.67),
		('bobby',7060,78.90),
		('rohith',7081,67.89),
		('gnanesh',7084,98.01)]

# iterate using for loop
for x in name:
  for y in x:
    print(y)

print()

s.ravan
7058
98.45
o.jaswi
7059
90.67
bobby
7060
78.9
rohith
7081
67.89
gnanesh
7084
98.01